/node_modules
/vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
.testsprite.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
/storage/*.key
/storage/pail
/public/hot
/public/storage
README.md
ARCHITECTURE.md
*.md
tests
.phpunit.cache

